# Load a single ROI from an OME-Zarr file
To enable 3D interactivity and easy ways to interact with the dataset in a jupyter notebook, let's load a single ROI instead of the whole well.  
If you did not create your own OME-Zarr file using Fractal, you can download the output from here:
https://zenodo.org/record/7120354

In [ ]:
# In case anndata & matplotlib were not installed yet, run this
# pip install anndata
# pip install matplotlib

In [1]:
import napari
import zarr
import ome_zarr
from pathlib import Path
import anndata as ad
import dask.array as da
import numpy as np
from utils_roi_loading import convert_ROI_table_to_indices, load_label_roi, load_intensity_roi, prepare_feature_vis

In [2]:
# Define the path to your OME-Zarr file
# (either just processed via Fractal or downloaded from Zenodo)
zarr_url = Path('/Users/joel/Desktop/20220928_2x2_Zenodo/20200812-CardiomyocyteDifferentiation14-Cycle1_mip.zarr')

In [3]:
# Constant settings
labels_name = 'label_DAPI'
roi_table = 'FOV_ROI_table'

# Changing settings
well = 'B/03'
roi_index_of_interest = 0
channel_index = 0

In [4]:
# Look at the ROI table
roi_an = ad.read_zarr(zarr_url / f'{well}/0/tables/{roi_table}')
ro_df = roi_an.to_df()
ro_df

,x_micrometer,y_micrometer,z_micrometer,len_x_micrometer,len_y_micrometer,len_z_micrometer,x_micrometer_original,y_micrometer_original
field_id,,,,,,,,
FOV_1,-1448.300049,-1517.699951,0.0,416.0,351.0,1.0,-1448.300049,-1517.699951
FOV_2,-1032.300049,-1517.699951,0.0,416.0,351.0,1.0,-1032.300049,-1517.699951
FOV_3,-1448.300049,-1166.699951,0.0,416.0,351.0,1.0,-1448.300049,-1166.699951
FOV_4,-1032.300049,-1166.699951,0.0,416.0,351.0,1.0,-1032.300049,-1166.699951

In [5]:
label_roi, scale_label = load_label_roi(zarr_url, well, roi_index_of_interest, labels_name, level = 0)
img_roi, scale_img = load_intensity_roi(zarr_url, well, roi_index_of_interest, channel_index, level = 0)

In [7]:
viewer = napari.Viewer()
viewer.add_image(img_roi, scale=scale_img)
label_layer = viewer.add_labels(label_roi, scale=scale_label)

# Feature visualization

In [8]:
import pandas as pd
import napari
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np

In [9]:
measurement_table = 'nuclei'
nuclei_path = zarr_url / f'{well}/0/tables/{measurement_table}'
nuclei_an = ad.read_zarr(nuclei_path)

In [10]:
feature_df = nuclei_an.to_df()
feature_df[['area', 'mean_intensity', 'standard_deviation_intensity']]

         area  mean_intensity  standard_deviation_intensity
label
1      2128.0      293.573792                     53.578331
2       384.0      311.109375                    106.931992
3      1312.0      231.229416                     47.511070
4      2608.0      264.913727                     57.151825
5       704.0      387.032684                    176.512741
...       ...             ...                           ...
2962   1104.0      311.662140                     75.626266
2963   1104.0      296.225555                     73.479431
2964    736.0      280.744568                     48.305725
2965    624.0      204.426285                     44.935898
2966    304.0      247.736847                     56.399334

[2966 rows x 3 columns]

In [11]:
colors, label_properties = prepare_feature_vis(feature_df, feature='area')
label_layer.properties = label_properties
label_layer.color = colors